@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);
  --color-stroke: var(--stroke);
  --color-text: var(--text);
  --color-highlight: var(--highlight);


  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --spacing: 4px;
  --background: #050505;
  --foreground:
    radial-gradient(
      circle at bottom left,
      rgba(128, 0, 128, 0.4),
      transparent 50%
    ),
    radial-gradient(
      circle at top right,
      rgba(128, 0, 255, 0.3),
      transparent 50%
    );
  --surface: rgba(255, 255, 255, .1);
  --surface-muted: rgba(255, 255, 255, .05);
  --stroke: rgba(255, 255, 255, .5);
  --highlight: rgba(255, 255, 255, .2);

  --card: #1e1f29;
  --primary: #bd93f9;
  /* ... */
}
